@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=RocknRoll+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box; 
}



/* ヘッダーstart    */




.nav_menu .menu_list {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.nav_menu .menu_list .list_item {
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.nav_menu a{
  text-decoration: none;
  color: #fff;
}

.header_nav_about a{
  text-decoration: none;
  color: rgb(47, 45, 145);
} */




/* ヘッダーend */

/* ハンバーガーメニュー */
* {
  box-sizing: border-box;
}



header {
  width: 100%;
  height: 70px;
  padding: 0px 15px;
  background-color: #1A1A1A;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  
}



.logo_header {
  width: 146px;
  height: auto;
  margin: 10px 0;
}

nav {
  margin: 0 0 0 auto;
  
}

.menu_list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  
  
}

li.list_item a{
  color: #ffffff;
  text-decoration: none;
  /* display: block; */
  line-height: 60px;


  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  align-items: center;
}

#jpn {
  color: rgb(47, 45, 145);
  text-decoration: none;
  line-height: 60px;
  padding: 0 0;
}



#recruet a{
  text-decoration: none;
  color: rgb(47, 45, 145);
}

#eng {
  text-decoration: none;
  padding: 0 0;
}

#jpn::after {    
  padding: 0 2px 0 10px;    
  content: "|";    
  color: white!important; 
}

.sm {
  display: none;	/*ハンバーガーメニューのリスト（スマホ用）を非表示*/
}


/**********************************　
以下、ハンバーガーメニューの設定　
************************************/

@media (max-width: 767px) {

  #recruet a{
    text-decoration: none;
    color: rgb(47, 45, 145);
  }
  
}
/* ハンバーガーメニューここまで */
.thanks_main{
  /* width: 60%; */
  margin: 100px auto;
  color: #1A1A1A
}

.contents_title h1{
  color: #1A1A1A;
  font-size: 13vw;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0 0 0;
  font-family: 'Noto Sans JP', sans-serif;
}



.contents_title p{
  color: #2B2B2B;
  font-size: 14px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}


.thanks_heading{
  font-size: 56px;
  /* margin: 0 0 0 16px; */
  text-align: center;
  color: #2B2B2B;
  font-family: 'Open Sans', sans-serif;
}

.send{
  text-align: center;
  margin: 40px auto;
  color: #2B2B2B;
  font-family: 'Open Sans', sans-serif;
}

.thanks_text {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
  display: grid;
  place-items: center;
  color: #2B2B2B;
  font-family: 'Open Sans', sans-serif;
}






footer {
  width: 100%;
  height: 231px;
  text-align: center;
  padding: 50px 0;
  background-color: #1A1A1A;
}
.footer_text {
  color: #fff;
}

.logo_footer{
  width: 146px;
  height: 69;
}